{% extends 'base.html' %}

{% block content %}

<h1> Sign up!</h1>
<form method ="POST"action = "{%url 'signup'%}">
    {% csrf_token %}

    USERNAME : <br>
        <input name="username" type= "text" value=""><br>
        PASSWORD : <br>
        <input name="password1" type= "text" value=""><br>
        CONFIRM PASSWORD : <br>
        <input name="password2" type="password" value=""><br>
        <br>
        <input class="btn btn-primary" type="submit" value="Sign Up!">

</form>

{% endblock %}